<a href="https://colab.research.google.com/github/a3s0h/Python_questions.py/blob/main/Copy_of_session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
def salary(sal):
  if sal < 5:
    return sal
  elif (5 <= sal) and (sal  < 10):
    return sal-1-(sal/10) - (sal/20) - (sal*3/100) - (sal/10)
  elif (10 <= sal) and (sal  <= 20):
    return sal-1-(sal/10) - (sal/20) - (sal*3/100) - (sal*2/10)
  elif (sal  > 20):
    return sal-1-(sal/10) - (sal/20) - (sal*3/100) - (sal*3/10)

sal = int(input("Enter salary: "))
salary(sal)

Enter salary: 2

2

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
a = int(input())
b = int(input())
c = int(input())

if a+b+c == 180:
  print("Traingle")
else:
  print("Not  a triangle ")

3
3
0
Not  a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cost = int(input())
sale = int(input())
if cost > sale :
  print("loss")
else:
  print("profit")

2
3
profit

### `Problem 4`: Write a menu-driven program - 
1. cm to ft 
2. km to miles 
3. USD to INR 
4. exit

In [ ]:
# Write code here

while 1:
  a = int(input("Enter choice 1>cm to ft   2>km to miles   3> USD to INR   4> exit"))
  if a == 1:
    b = float(input("Enter a number: "))
    print("cm to ft: ",b/ 0.0328)
  elif a == 2:
    b = float(input("Enter a number: "))
    print("cm to ft: ",b/ 0.6213)
  elif a == 3:
    b = float(input("Enter a Currency: "))
    print("cm to ft: ",b/ 82.186)
  elif a == 4:
    break
  else:
    print("Invalid choice")

Enter choice 1>cm to ft   2>km to miles   3> USD to INR   4> exit0
Invalid choice
Enter choice 1>cm to ft   2>km to miles   3> USD to INR   4> exit4

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
lst = [0,1]
i=2
while i < 10:
  lst.append(lst[i-1] + lst[i-2])
  i+=1
print(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output: 

```bash
120
```

In [ ]:
# Write code here
def fact(num):
  if num==1:
    return num
  return num * fact(num-1)


num = int(input("Enter a number: "))
print(fact(num))

Enter a number: 3
6

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
num = int(input())
ans  =0
while num > 0:
  temp = num%10
  ans = ans*10 + temp
  num = (num//10)

print(ans)

0
0

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
num = int(input())
i=1
sum=0
for i in range(num):
  if i % 5 == 0:
    continue
  sum+=i
  if sum > 300:
    break
print(sum)

2
1

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum = 0
avg = 0
i=1
while 1:
  num = int(input())
  if num == 0:
    break
  else:
    sum+= num
    avg  = sum/i
  i+=1
print("sum: ",sum,"avg : ",avg)

0
sum:  0 avg :  0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
# lst = []
# for i in range(2000,3200):
#   if i%7==0 and ~(i%5 ==0):
#     lst.append(i)
  
# list to sting 1st meathod 
# myString = ""
# for elem in lst:
#     myString = myString + str(elem) + ","
# print(myString)
  


# meathod 2
lst = []
for i in range(2000,3200):
  if i%7==0 and ~(i%5 ==0):
    lst.append(i)


print(" ".join(str(elem) for elem in lst))

TypeError: ignored

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
lst= []
for i in range(1000,3001):
  if (i%10) % 2 == 0:
    lst.append(i)
  
str = str(lst).strip("[]")
print(str.replace(',',' '))

TypeError: ignored

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. 
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps. 

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.** 

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here
a=0
b=0
while 1:
  direction = input()
  dist = int(input())
  if direction == "U":
    a += dist
  elif direction == "D":
    a -= dist
  elif direction == "R":
    b += dist
  elif direction == 'L':
    b -= dist
  elif direction == "!":
    break
import numpy as np
print("Distance : ",round(np.sqrt(a**2 + b**2)))

U
5
D
3
L
3
R
2
!
3
2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
num = int(input())
prime = True
i = 2
while i < num:
  if num%(i) == 0:
    print("not prime")
    prime = False
    break
  i += 1
if prime == True:
  print("prime")

2
prime

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here
num = int(input())
num_copy = num
ans = 0
while num_copy > 0:
  temp = num_copy%10
  ans = temp ** 3+ans
  num_copy = num_copy//10


if ans == num:
  print("armstrong number")
else:
  print("Not")

3
Not

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here


def calcAngle(h,m):
		# validate the input
		if (h < 0 or m < 0 or h > 12 or m > 60):
			print('Wrong input')
		if (h == 12):
			h = 0
		if (m == 60):
			m = 0
			h += 1;
			if(h>12):
				h = h-12;
		# Calculate the angles moved by
		# hour and minute hands with
		# reference to 12:00
		hour_angle = 0.5 * (h * 60 + m)
		minute_angle = 6 * m
		# Find the difference between two angles
		angle = abs(hour_angle - minute_angle)
		# Return the smaller angle of two
		# possible angles
		angle = min(360 - angle, angle)
		return angle
print("Input: ")
h,m = map(int,input().split())
print('Angle ', calcAngle(h,m))

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here